.popularProduct {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.add-to-cart-button{
  position: absolute;
  top: 0;
  /* background-color: red; */
  background-color: rgba(255,255,255, 0.8);
  padding: 0px 15px;
  /* height: 70%; */
  height: 0px;
  overflow: hidden;
  transition: 0.5s ease;
}
.hover-animation:hover .add-to-cart-button{
  height: 70%;
  padding: 15px;
}

.add-to-cart-animation{
  position: relative;
}

.add-to-cart-animation{
 
  background-color:  #FFD700;
  /* background-color: rgb(255, 255, 255); */
  /* color:var(--color-gold); */
  /* border:1px solid var(--color-gold); */
  /* border-radius: 5px; */
  position: absolute;
  left: 0;
  top: 0;
  
  /* width: 100%; */
  width: 0;
  overflow: hidden;
  height: 100%;
  transition: 0.3s ease;
}

.toggle-add-to-cart:hover .add-to-cart-animation{
  width: 100%;
}

@media screen and (max-width: 1028px) {
  .popularProduct {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 856px) {
  .popularProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 670px) {
  .popularProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 460px) {
  .popularProduct {
    grid-template-columns: repeat(1, 1fr);
  }
}
